<div class="main-page">
  <div class="main-top">
    <h2 class="main-title">{{'main.main-title' | translate}}</h2>
    <div class="search-box">
      <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
      <input type="search" id="search" placeholder="Search" (focusout)="hideTaskSearchWindow()"
        (input)="searchTask($event)">
    </div>

    <div class="task-search task-search-hidden">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'main.search-task.title' | translate}}</th>
            <th scope="col">{{'main.search-task.description' | translate}}</th>
            <th scope="col">{{'main.search-task.path' | translate}}</th>
            <th scope="col">{{'main.search-task.view' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of foundTasks">
            <td scope="row">{{task.order}}</td>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.boardTitle}} <i class="fa-solid fa-arrow-right-long"></i> {{task.columnTitle}}</td>
            <td><button (mousedown)="viewTask(task)"><i class="fa-regular fa-eye"></i></button></td>
          </tr>
        </tbody>
      </table>

      <div class="no-result no-result-hidden">
        <p>{{'main.search-task.no-result' | translate}}</p>
      </div>
    </div>
  </div>

  <div class="main-center">
    <div class="project" *ngFor="let board of boards">
      <div class="project-title">
        <h4>{{board['title']}}</h4>
      </div>

      <div class="project-desc">
        <p>{{board['description']}}</p>
      </div>

      <div class="project-btns">
        <div>
          <button class="project-tasks" (click)="navigateToBoard(board)">{{'main.open-board-btn' | translate}}</button>
        </div>

        <div>
          <button class="project-edit-btn" (click)="showProjectUpdate(board)"><i
              class="fa-solid fa-pencil"></i></button>
          <button class="project-delete-btn" (click)="showProjectDelete(board)"><i
              class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>

    </div>

    <button class="project-create-btn" (click)="showProjectCreate()">{{'main.add-board-btn' |
      translate}}</button>
  </div>

  <div class="project-create project-create-hidden" (click)="hideProjectCreate($event)">
    <form action="" #createForm="ngForm" (ngSubmit)="createBoard(createForm.value)">
      <h2>{{'main.create.title' | translate}}</h2>

      <div class="input-container">
        <label for="title" class="form-label">{{'main.create.input-1' | translate}}</label>
        <input required maxlength="14" type="text" id="title" name="title" ngModel>
      </div>

      <div class="input-container">
        <label for="description" class="form-label">{{'main.create.input-2' | translate}}</label>
        <textarea required maxlength="50" type="text" id="description" name="description" ngModel></textarea>
      </div>

      <button type="submit" class="submit-btn" [disabled]="!createForm.valid">{{'main.create.btn' | translate}}</button>

      <div class="exit-btn">
        <i class="fa-regular fa-circle-xmark"></i>
      </div>
    </form>
  </div>

  <div class="project-update project-update-hidden" (click)="hideProjectUpdate($event)">
    <form action="" #updateForm="ngForm" (ngSubmit)="updateBoard(updateForm.value)">
      <h2>{{'main.update.title' | translate}}</h2>

      <div class="input-container">
        <label for="title" class="form-label">{{'main.update.input-1' | translate}}</label>
        <input required maxlength="15" type="text" id="title" name="title" ngModel>
      </div>

      <div class="input-container">
        <label for="description" class="form-label">{{'main.update.input-2' | translate}}</label>
        <textarea required maxlength="50" type="text" id="description" name="description" ngModel></textarea>
      </div>

      <button type="submit" class="submit-btn" [disabled]="!updateForm.valid">{{'main.update.btn' | translate}}</button>

      <div class=" exit-btn">
        <i class="fa-regular fa-circle-xmark"></i>
      </div>
    </form>
  </div>

  <div class="project-delete project-delete-hidden" (click)="hideProjectDelete($event)">
    <app-confirm-delete></app-confirm-delete>
  </div>
</div>
