<div class="header">
  <div class="header-wrapper">

    <div class="header-left">
      <a routerLink="" class="logo">
        <i class="fa-solid fa-bars-progress"></i>
        <span>PMS</span>
      </a>
      <ul class="nav-items">
        <li class="nav-item active"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Boards</a></li>
      </ul>
    </div>

    <div class="header-right">
      <select name="lang" id="lang" class="lang-selector">
        <option value="en">En</option>
        <option value="uz">Uz</option>
      </select>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/login" class="header-btn">Log in</a>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/sign-up" class="header-btn">Sign up</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/" class="header-btn" (click)="authService.logout()">Log out</a>
    </div>
  </div>

</div>
