.header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav-items {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  list-style-type: none;
}

.nav-item a {
  color: #696969;
  text-decoration: none;
  transition: all 0.3s linear;
}

.nav-item a:hover {
  color: black;
}

.nav-item.active a {
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.lang-selector {
  border: 1px solid #696969;
  outline: none;
  padding: 0.1rem;
}

.header-btn {
  color: #696969;
  background-color: transparent;
  border: 1px solid #696969;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.3s linear;
}

.header-btn:hover {
  color: black;
  border: 1px solid black;
}
