.footer {
  border-top: 1px solid #c0c0c0;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-left p {
  margin: auto;
}

.footer-left p a {
  text-decoration: none;
}

.footer-right img {
  width: 100px;
}
