<div class="homepage">
  <section class="hero">
    <div class="hero-left">
      <h1>Project Management System</h1>
      <p>Project Management System (or PMS) is an application that helps an individual in a team or group of
        developers to organize, manage, and track their projects.</p>
      <a routerLink="/sign-up">Try it now</a>
    </div>
    <div class="hero-right">
      <img src="../../../../assets/images/hero.png" alt="hero image">
    </div>
  </section>

  <section class="info">
    <div class="info-item">
      <h3><i class="fa-solid fa-calendar-days"></i> Planning</h3>
      <p>The platform helps to create a consistent management plan and prioritize tasks for the
        project’s
        success. Also, the previous records of the current project can be accessed.</p>
    </div>

    <div class="info-item">
      <h3><i class="fa-solid fa-people-group"></i> Collaboration</h3>
      <p>A huge advantage of the project management system is that it makes an effective project team collaboration
        extremely
        simple. It keeps all the communication in a unified place.</p>
    </div>

    <div class="info-item">
      <h3><i class="fa-solid fa-truck-fast"></i> Efficiency</h3>
      <p>The app optimizes decision-making process and
        improves
        productivity at work. It keeps all of the important details in a single place and helps to make decisions within
        the shortest time.</p>
    </div>

  </section>

  <section class="why">
    <div class="why-left">
      <img src="../../../../assets/images/stats.png" alt="features image">
    </div>
    <div class="why-right">
      <h3>Why PMS?</h3>
      <p>As a manager, you need to know what work needs to be done and when, which team member is working on what, and
        more.
        Project planning is critical for your team’s success. Doing it manually or using spreadsheets and over emails is
        definitely not an efficient way of doing it and brings its own set of challenges. <br><br> However, when you use
        a
        project tracking software, all communication is in one centralized place, and it’s easy to assign tasks
        and define priorities. It becomes easy to keep track of your team’s work and ensures that projects are
        progressing as
        planned.
      </p>
    </div>
  </section>

  <section class="introduce">
    <div class="author">
      <h3 class="introduce-title">Author</h3>
      <div class="author-card introduce-card">
        <div class="author-img">
          <img src="https://avatars.githubusercontent.com/u/91944272?v=4" class="profile-img" alt="profile picture">
        </div>

        <div class="author-info">
          <h5>Hakimbek</h5>
          <p>Hi, I'm a student of the JS / FRONT-END (EN) Course in RS School. This webpage is developed
            to complete the "Project Management System" assignment in Stage 3.</p>
          <div class="author-contacts">
            <div>
              <i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/khakimbek-erkinboev-343a75226/"
                target="_blank"> LinkedIn</a>
            </div>

            <div>
              <i class="fa-brands fa-github"></i> <a href="https://github.com/khakimbekerkinboev/" target="_blank">
                GitHub</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="course">
      <h3 class="introduce-title">Course</h3>
      <div class="course-card introduce-card">
        <div class="course-img">
          <img src="../../../../assets/images/angular-logo.png" alt="course logo">
        </div>
        <h5>Angular (EN)</h5>
        <p>Angular (EN) is a course offered by RS School. You can find more information <a
            href="https://rs.school/angular/">here</a>.</p>
        <a href="https://wearecommunity.io/events/angular-rss-2022q3" class="enroll-btn">Enroll</a>
      </div>
    </div>
  </section>

</div>
