.edit-profile-page {
  padding: 5rem 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 22.5rem;
  border: 1px solid #c0c0c0;
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.input-container {
  margin-bottom: 1rem;
}

.input-container label {
  display: block;
  margin-bottom: 0.3rem;
}

.input-container input {
  width: 100%;
  padding: 0.3rem;
  outline: none;
  border: 1px solid #c0c0c0;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

.submit-btn {
  display: block;
  margin: 1.5rem auto;
  border: none;
  color: white;
  padding: 0.3rem 2rem;
  border-radius: 0.3rem;
  background-color: #2c974b;
}

.submit-btn:disabled {
  background-color: #96cba5;
}

.form-bottom {
  text-align: center;
}

.form-bottom p {
  display: inline;
  margin-bottom: 0;
}

.form-bottom button {
  border: none;
  background-color: transparent;
  color: red;
}

.input-container input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.account-delete {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-delete-hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  form {
    padding: 1rem;
  }
}
