<div class="sign-up-page">
  <form action="">
    <h2 class="form-title">Sign up</h2>

    <!-- Login input -->
    <div class="input-container">
      <label class="form-label" for="login">Name</label>
      <input type="text" id="name" />
    </div>

    <!-- Login input -->
    <div class="input-container">
      <label class="form-label" for="login">Login</label>
      <input type="text" id="login" />
    </div>

    <!-- Password input -->
    <div class="input-container">
      <label class="form-label" for="login">Password</label>
      <input type="password" id="password" />
    </div>

    <button type="submit" class="submit-btn">Sign up</button>

    <div class="form-bottom">
      <p>Already have an account? <a href="">Log in</a></p>
    </div>
  </form>
</div>
