<div class="sign-up-page">
  <form #f="ngForm" (ngSubmit)="signUp(f.value)">
    <h2 class="form-title">{{'signup.title' | translate}}</h2>

    <div *ngIf="signUpError" class="alert alert-danger">
      {{'signup.error' | translate}}
    </div>

    <!-- Name input -->
    <div class="input-container">
      <label class="form-label" for="name">{{'signup.name' | translate}}</label>
      <input required minlength="3" type="text" id="name" name="name" ngModel #name="ngModel" />
      <div class="alert alert-danger" *ngIf="name.touched && !(name.valid)">
        <div *ngIf="name.errors?.['required']">{{'signup.name-req' | translate}}</div>
        <div *ngIf="name.errors?.['minlength']">{{'signup.name-min' | translate}}</div>
      </div>
    </div>

    <!-- Login input -->
    <div class="input-container">
      <label class="form-label" for="login">{{'signup.login' | translate}}</label>
      <input required minlength="3" type="text" id="login" name="login" ngModel #login="ngModel" />
      <div class="alert alert-danger" *ngIf="login.touched && !(login.valid)">
        <div *ngIf="login.errors?.['required']">{{'signup.login-req' | translate}}</div>
        <div *ngIf="login.errors?.['minlength']">{{'signup.login-min' | translate}}</div>
      </div>
    </div>

    <!-- Password input -->
    <div class="input-container">
      <label class="form-label" for="password">{{'signup.password' | translate}}</label>
      <input required minlength="3" type="password" id="password" name="password" ngModel #password="ngModel" />
      <div class="alert alert-danger" *ngIf="password.touched && !(password.valid)">
        <div *ngIf="password.errors?.['required']">{{'signup.password-req' | translate}}</div>
        <div *ngIf="password.errors?.['minlength']">{{'signup.password-min' | translate}}</div>
      </div>
    </div>

    <button type="submit" class="submit-btn" [disabled]="!f.valid">{{'signup.signup-btn' | translate}}</button>

    <div class="form-bottom">
      <p>{{'signup.account' | translate}} <a routerLink="/login">{{'signup.login-link' | translate}}</a></p>
    </div>
  </form>
</div>
